<section id="contact" style="background-color: #0055f7;">

  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <h5 class="noto-sans" style="font-weight:700; margin:0px">본사 및 연구소 주소</h3>
        <p class="noto-sans white-text">대구광역시 달성군 현풍읍 테크노중앙대로 333, DGIST 산학협력관(R7) 507호, 403B호</p>
        <h5 class="noto-sans" style="font-weight:700; margin:0px">대표전화</h3>
        <p class="noto-sans white-text">053-614-0721</p>
        <h5 class="noto-sans" style="font-weight:700; margin:0px">문의메일</h3>
        <p class="noto-sans white-text">contact@silicopharm.com</p>
      </div>
      <div class="col s12 m6">


        <div class="row">
          <!-- <form action="mailto:taehyeongkim@silicopharm.com"
           method=”POST” enctype=”multipart/form-data” name=”EmailForm” class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate" name="ContactName">
                <label for="email">Email</label>
              </div>
              <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea" name="ContactComment"></textarea>
                <label for="textarea1">Textarea</label>
              </div>
              <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
              </button>
            </div>
          </form> -->
        </div>
    </div>
  </div>
</div>
</section>
