<footer class="page-footer white">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="grey-text">ADDRESS</h5>
        <p class="electric-blue">
          R7-507 and 403B, 333, Techno jungang-daero, Hyeonpung-myeon,</br>
          Dalseong-gun, Daegu, 42988(ZIP), REPUBLIC OF KOREA
        </p>
      </div>
      <div class="col l3 s12">
        <h5 class="grey-text">TEL</h5>
        <p class="electric-blue">
          82+ 53-614-0721
        </p>
      </div>
      <div class="col l3 s12">
        <h5 class="grey-text">EMAIL</h5>
        <p class="electric-blue">
          contact@silicopharm.com
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright black">
    <div class="container">
    Copyright ⓒ SilicoPharm, Inc. All right reserved.
    <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
    </div>
  </div>
</footer>
