<section id="problem" style="background-color:white;">

  <div class="container">
    <div class="row section-title">
      <div class="col s12">
          <p class="noto-sans"><span class="bold">차세대 타겟 탐색 솔루션</span>으로</p>
          <h3 class="noto-sans" style="font-weight:700; margin:0px">불치병의 치료제를 만듭니다.</h3>
      </div>
    </div>
    <div class="row section-content hide-on-med-and-down">
      <div class="valign-wrapper">
        <div class="col s12 l6 center">
          <img src="assets/R_binding.jpg" class="responsive-img z-depth-2" alt="">
        </div>
        <div class="col s12 l6">
          <h5 class="noto-sans" style="font-weight:700;">코로나-19에서 보는 생명과학의 혁신</h3>
          <p class="noto-sans grey-text" style="text-align:justify;">
             구조기반 설계 기술을 포함한 현대 생명과학 기술을 동원하면,
             타겟(생체 내 질병의 원인물질)과 정확히 상호작용하는 신약을 설계함으로써
             코로나와 같은 새로운 질병에 대해서 1년 남짓한 기간 만에 백신과 치료제 개발이 가능합니다.
          </p>
          <h5 class="noto-sans" style="font-weight:700;">왜? 이런 기술들을 불치병에 적용할 수 없을까요?</h3>
          <p class="noto-sans grey-text" style="text-align:justify;">
             그러나 이런 기술들을 치매나 파킨슨병 혹은 루게릭병 등의
             인간의 존엄을 파괴하는 불치병들에 적용하는 것은 불가능합니다.
             왜냐하면 이들 불치병들은 새로운 기술들의 적용대상이 되는 타겟이 알려지지 않았기 때문입니다.
          </p>
          <h5 class="noto-sans" style="font-weight:700;">불치병의 타겟을 탐색하는 솔루션</h3>
          <p class="noto-sans grey-text" style="text-align:justify;">
             실리코팜(주)는 이들 질병에 적용가능한 타겟 탐색 솔루션을 개발함으로써
             불치병의 치료제 개발에 기여하고자 하며, 나아가 생명과학 연구속도를 가속하고자 합니다.
          </p>
        </div>
      </div>
      </div>

      <div class="row section-content hide-on-large-only">

          <div class="col s12 l6 center">
            <img src="assets/R_binding.jpg" class="responsive-img z-depth-2" alt="">
          </div>
          <div class="col s12 l6">
            <h5 class="noto-sans" style="font-weight:700;">코로나-19에서 보는 생명과학의 혁신</h3>
            <p class="noto-sans grey-text" style="text-align:justify;">
               구조기반 설계 기술을 포함한 현대 생명과학 기술을 동원하면,
               타겟(생체 내 질병의 원인물질)과 정확히 상호작용하는 신약을 설계함으로써
               코로나와 같은 새로운 질병에 대해서 1년 남짓한 기간 만에 백신과 치료제 개발이 가능합니다.
            </p>
            <h5 class="noto-sans" style="font-weight:700;">왜? 이런 기술들을 불치병에 적용할 수 없을까요?</h3>
            <p class="noto-sans grey-text" style="text-align:justify;">
               그러나 이런 기술들을 치매나 파킨슨병 혹은 루게릭병 등의
               인간의 존엄을 파괴하는 불치병들에 적용하는 것은 불가능합니다.
               왜냐하면 이들 불치병들은 새로운 기술들의 적용대상이 되는 타겟이 알려지지 않았기 때문입니다.
            </p>
            <h5 class="noto-sans" style="font-weight:700;">불치병의 타겟을 탐색하는 솔루션</h3>
            <p class="noto-sans grey-text" style="text-align:justify;">
               실리코팜(주)는 이들 질병에 적용가능한 타겟 탐색 솔루션을 개발함으로써
               불치병의 치료제 개발에 기여하고자 하며, 나아가 생명과학 연구속도를 가속하고자 합니다.
            </p>
          </div>

      </div>
</section>
