<section id="science"  style="background-color: #ebebeb;">

  <div class="container">
    <div class="row section-title">
      <div class="col s12 center">
          <h3 class="noto-sans" style="font-weight:700; margin:0px">Science</h3>
      </div>
    </div>
    <!-- <div class="row section-content">
      <div class="col s12">
        <div class="card horizontal">
          <div class="card-image hide-on-med-and-down">
            <img src="https://via.placeholder.com/160">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <!-- Scientific advisor and publication  -->
</section>
