<section id="solution"  style="background-color: #ebebeb;">

  <div class="container">
    <div class="row section-title">
      <div class="col s12 center">
          <!-- <p class="noto-sans">생명과학자가 <span class="bold">쉽게 사용할 수 있는 솔루션</span>으로</p> -->
          <h3 class="noto-sans electric-blue" style="font-weight:700; margin:0px">차별화된 솔루션</h3>
      </div>
    </div>
    <div class="row section-content">

      <div class="col s12 m4 center" style="margin-top:34px;">
        <img src="assets/UI-2.png" alt="" style="width:150px; height:150px;" class="responsive-img">
        <h4 class="electric-blue noto-sans" style="font-weight:700;">높은 접근성</h4>
        <p class="grey-text">
           웹 플랫폼을 통해 제공되는 서비스는 컴퓨터에 익숙하지
           않은 생명과학 연구자들도 손쉽게 솔루션을 사용할 수 있는
           기회를 제공합니다.</p>
      </div>
      <div class="col s12 m4 center" style="margin-top:34px;">
        <img src="assets/report-2.png" alt="" style="width:150px; height:150px;" class="responsive-img">
        <h4 class="electric-blue noto-sans" style="font-weight:700;">높은 구체성</h4>
        <p class="grey-text">
          개별 유전자의 증감이나 확률 등의 1차원적 정보만을 제공하는
          기존방법과 달리 네트워크 수준으로 제공되는 결과물은 연구자의
          보다 폭넓은 가설설정을 돕습니다.</p>
      </div>
      <div class="col s12 m4 center" style="margin-top:34px;">
        <img src="assets/data-2.png" alt="" style="width:150px; height:150px;" class="responsive-img">
        <h4 class="electric-blue noto-sans" style="font-weight:700;">적은 학습 데이터</h4>
        <p class="grey-text">
          단일 프로젝트에서 생산되는 정도의 데이터로 학습이 가능한
          인공지능 기술은 연구자 수준에서의 모델 학습 뿐만
          아니라 희귀 및 뇌·신경질환에의 솔루션 적용을 가능하게 합니다.
        </p>
      </div>
    </div>

  </div>

</section>
