<section id="team">
  <div class="container">
    <div class="row section-title">
      <div class="col s12 center">
          <h3 class="noto-sans" style="font-weight:700; margin:0px">Team</h3>
      </div>
    </div>
    <div class="row section-content">
      <!--<div class="col s12 m4 l3">
        <div class="col s12 center">
           <img src="assets/TaehyeongKim.jpg" alt="" class="responsive-img rounded"> 
          <h4 class="noto-sans name" style="">김태형</h4>
          <p class="grey-text">공동대표</p>
        </div>
      </div>-->
      <div class="col s12 m4 l3">
        <div class="col s12 center">
          <!-- <img src="assets/타원 1.png" alt="" class="responsive-img"> -->
          <h4 class="noto-sans name" style="font-weight:700;">지상호</h4>
          <p class="grey-text">대표</p>
        </div>
      </div>
      <div class="col s12 m4 l3">
        <div class="col s12 center">
          <!-- <img src="assets/타원 1.png" alt="" class="responsive-img"> -->
          <h4 class="noto-sans name" style="font-weight:700;">이경민</h4>
          <p class="grey-text">연구개발</p>
        </div>
      </div>
      <div class="col s12 m4 l3">
        <div class="col s12 center">
          <!-- <img src="assets/타원 1.png" alt="" class="responsive-img"> -->
          <h4 class="noto-sans name" style="font-weight:700;">김범수</h4>
          <p class="grey-text">연구개발</p>
        </div>
      </div>
      <div class="col s12 m4 l3">
        <div class="col s12 center">
          <!-- <img src="assets/타원 1.png" alt="" class="responsive-img"> -->
          <h4 class="noto-sans name" style="font-weight:700;">Ashim Janbolat</h4>
          <p class="grey-text">연구개발</p>
        </div>
      </div>
      <div class="col s12 m4 l3">
        <div class="col s12 center">
          <!-- <img src="assets/타원 1.png" alt="" class="responsive-img"> -->
          <h4 class="noto-sans name" style="font-weight:700;">이효정</h4>
          <p class="grey-text">행정</p>
        </div>
      </div>
      <div class="col s12 m4 l3">
        <div class="col s12 center">
          <!-- <img src="assets/타원 1.png" alt="" class="responsive-img"> -->
          <h4 class="noto-sans name" style="font-weight:700;">이 봄</h4>
          <p class="grey-text">연구개발</p>
        </div>
      </div>
      <div class="col s12 m4 l3">
        <div class="col s12 center">
          <!-- <img src="assets/타원 1.png" alt="" class="responsive-img"> -->
          <h4 class="noto-sans name" style="font-weight:700;">전민지</h4>
          <p class="grey-text">연구개발</p>
        </div>
      </div>
    </div>
  </div>

</section>
